extends layout

block content
	main.index-main
		.container
			.test
				.row
					.col.col-md-4
						.img.test-img
					.col.col-md-8.second-column
						h1 Eko Zaprešić
						p Udruga Eko Zaprešić bavi se zaštitom okoliša i održivim razvojem. Brinemo se o okolišu na zaprešićkom području i promičemo ekološku i integriranu proizvodnju. Smatramo da su pitanja i problemi kojima se bavimo u današnje vrijeme itekako aktualni. Promicanjem svojih vrijednosti i kontinuiranim radom pokušavamo potaknuti javnost i građane na veću pozornost i aktivnost u području ekologije.
			.row
				.col.col-sm-12.col-md-6
					h1 Zaštita okoliša
					p Bavimo se prevencijom zagađenja vode, zraka i tla. Nadziremo zagađenje okoliša zaprešićkog kraja i upozoravamo na isto, neovisno o tome koje osobe ili tvrtke ga zagađuju.
						br
						| Pitka voda i čist zrak nisu neograničeni i moramo ih zaštititi.
				.col.col-sm-12.col-md-6
					h1 Projekti
					p Vlastitim radom zalažemo se za prirodu. Naši projekti sastoje se od aktivnosti poput sadnje i obrade biljaka, izgradnje i postavljanja nastambenih objekata za ptice i kukce te educiranja ljudi s naglaskom na mlade. Na projektima surađujemo s drugim udrugama, a ponajviše sa zaprešićkom 
						a(target='_blank' href='http://www.udruga-ivancica.hr') Udrugom Ivančica.