extends layout

block content
	main.other-main
		.container
			.row
				.col.col-md-4
					.img.kontakt-img
				.col.col-md-8
					.kontakt
						h1 Podaci o Udruzi
						span
							b Udruga za promicanje ekološke i integrirane proizvodnje te održivog razvoja - Eko Zaprešić
						br
						span Sjedište: Vladimira Novaka 23, 10290 Zaprešić
						br
						span E-mail: eko-zapresic@eko-zapresic.hr
						br
						span OIB: 51197864819
						br
						span Registarski broj: 01002542