extends layout

block content
	main.other-main
		.container
			.row
				.col.col-md-4
					.img.onama-img
				.col.col-md-8
					h1 O Eko Zaprešiću i našim ciljevima
					p Udruga Eko Zaprešić nastala je 2011. godine s ciljem povećanja ekološke osviještenosti i zaštite prirode i okoliša, zaštite biljnog i životinjskog svijeta i zdravlja građana. Eko Zaprešić se zalaže za promicanje i unaprjeđenje ekoloških vrijednosti te promicanje ekološke i integrirane proizvodnje poljoprivrednih proizvoda.
						br
						br
						| Djelujemo okupljajući građane, stručnjake i organizacije u svrhu poboljšanja kvalitete života i zaštite okoliša. Udruga promatra okoliš zaprešićkog kraja te skuplja i obrađuje podatke i materijale vezane za ekološke probleme područja ukazujući na njih i nudeći solucije.
						br
						br
						| Udruga informira i educira javnost o problematici okoliša, organizira tribine, sajmove, prezentacije i sl., sudjeluje na stručnim skupovima drugih udruga i organizacija te sa istima surađuje na aktivnostima zajedničkih ciljeva.