extends layout

block content
	main.other-main.projekti-main
		.container
			.row
				.col.col-md-12
					h1
						b Aktualni projekti
			.row
				.col.col-md-4
					.img.projekti-img.projekti-img1
				.col.col-md-8
					h1 Eko vrt
					p Eko vrt je višegodišnji projekt 
						a(target="_blank" href="http://www.udruga-ivancica.hr") Udruge Ivančica
						|  na kojem sudjelujemo kao partneri. Osnovna djelatnost ovoga projekta je radna terapija u vrtu. Kroz terapiju predviđena je sadnja i uređenje te održavanje vrta. Uzgajamo ljekovito, povrtno, začinsko i ostalo bilje. 30 je stalnih polaznika trenutno uključeno u projekt.
						br
						br
						| Ovim projektom, među ostalim, nastojimo utjecati na senzibilitet javnosti za osobe s potrebnim potrebama. Projekt se održava na području zaprešićke općine odnosno u Zaprešiću, Brdovcu, Pušći, Mariji Gorici, Jakovlju, Luki, Bistri i Dubravici.
			.row
				.col.col-md-4
					.img.projekti-img.projekti-img2
				.col.col-md-8
					h1 Zeleni zid
					p Projekt Zeleni zid usko je vezan uz projekt Eko vrt. U vrtu gradimo podignute i viseće gredice povećavajući dostupnu površinu vrta što nam omogućuje i uključivanje većeg broja polaznika u aktivnosti radne terapije.
						br
						br
						| Ovim projektom radnu terapiju činimo dostupnom štićenicima Udruge Ivančica vezanim za invalidska kolica i stvaramo uvjete za prihvat novih polaznika radne terapije.
			.row
				.col.col-md-12
					h1.h1-fix
						b Projekti u pripremi
			.row
				.col.col-md-6
					h1 Kućice za ptice, hoteli za kukce
					p Kroz ovaj projekt baviti ćemo se izradom nastambi za ptice i kukce. Projekt će biti usmjeren na osnovnoškolce koje ćemo u okviru projekta educirati o vrstama ptica i kukaca našeg kraja. Osnovnoškolci će sudjelovati u izradi i postavljanju izrađenih nastambi te ćemo s njima kontinuirano pratiti nastanjenost istih.
						br
						br
						| Također, kroz ovaj projekt nastojimo mlađim generacijama približiti prirodu i usaditi im vrijednosti brige za okoliš i životinje.
				.col.col-md-6
					h1 Urbani vrtovi
					p Projektom Urbani vrtovi nastojimo ishoditi slobodne gradske površine i pretvoriti ih u vrtove. Osim što je rad u vrtu odlična antistresna terapija, sudionici se socijaliziraju kroz aktivni rad. Potičemo razvoj urbane poljoprivrede i individualnog uzgoja hrane koji je u porastu.
						br
						br
						| Projekt ima i edukativnu ulogu - sudionike ćemo učiti izradi komposta, obradi voća, očuvanju autohtonih sorti našeg kraja a posebnu pozornost obraćamo na mlađe uzraste koji provode sve manje vremena u prirodi.