extends layout

block content
	main.other-main
		.container
			.row
				.col.col-md-4
					.img.voda-img
				.col.col-md-8
					h1 Zaštita vode
					p U Zaprešiću je najaktualniji problem zagađenje vode. Udruga se ovim problemom bavi godinama pokušavajući utjecati na ovaj negativan trend uzrokovan određenim postrojenjima i nedostacima postojeće kanalizacije. Pitka voda je najbitniji resurs budućnosti i nemarno je trošiti ga uzalud.
					h1 Zaštita zraka
					p Posebnu pozornost obraćamo na zaštitu vode i zraka. Osim što se bavimo prevencijom odnosno spriječavanjem nastanka štetnih utjecaja na vodu i zrak, bavimo se i tretnutnim problemima zagađenja vode i zraka. Ponajviše upozoravamo na problem zagađenja vode od strane Plivinog pogona u okolici Zaprešića. Borimo se za smanjenje zagađenja uzrokovanog različitim faktorima.